body {
	background-color: rgb(38,41,44);
}

node { 
	stroke-width: 1.5px;
	}
.graph {
	margin:0 auto;
	width:960px;
	color:#FFF;
	border: 1px dashed #333;
	fill: #000;
	}		
line {
	stroke: #666;
	}
.text {
	text-align:justify;	
	width:940px;
	height:140px;
	margin: 0 auto;
	color:#FFF;
	font-size:14px;
	line-height:20px;
	}
	
.text a {
	color:orange;
	text-decoration:none;
	}
.text a:hover {
	color:red;
	}

