body {
	background-color: transparent;
	/* Firefox */
  -moz-transition: all 1s ease-in;
  /* WebKit */
  -webkit-transition: all 1s ease-in;
  /* Opera */
  -o-transition: all 1s ease-in;
  /* Standard */
  transition: all 1s ease-in;
}

#qrcode small{
	font-size: 12pt;
}

#qrcode{
	position: absolute;
	top: 15px;
	right: 20px;
}

h1 {
	text-align: center;
}

.link {
    stroke: '#ddd';
    stroke-width: 2px;
}
