body {
	background-color: transparent;
}

#qrcode small{
	font-size: 12pt;
}

#qrcode{
	position: absolute;
	top: 15px;
	right: 20px;
}

h1 {
	text-align: center;
}

.link {
    stroke: #2E2E2E;
    stroke-width: 2px;
}
