.musicbox {


}

.playerbox {

	width: 500px;
	padding: 5px;

	margin: 0 auto;

	background-color: #f0f0f0;
}

.playerbox .info {
	padding: 10px;
}

.playerbox .thumb img { width: 100px; height: 100px; }

#holder {
	width: 100%;
	min-height: 500px;

}

h1.cover-heading {
	font-size: 4em;
	font-family: "Lobster", "cursive", "Times", "Sans";
}

canvas {
	z-index: -999;
	position: absolute;
	top: 0; bottom: 0;
	bottom: 0; right: 0;
}

canvas video {
	position: absolute;
	top: 0; bottom: 0;
	bottom: 0; right: 0;
}